# 1) QUESTIONS: 
a) What does Standard error in a feature variable mean in linear regression? Is it the same as the weight of a feature (parameter)?
b) What does regularization attempt to acheive?
c) What is the difference between Stochastic, Batch and Mini-Batch Gradient Descent.
d) You have been given the credit.csv
e) A complete notebook, trying, Linear regression (with Pearson and Backward Elimination)
f) Can you write a function to do the Backward elimination part so that one doesn't have to do this for every feature recursively?
g) Apply a RANSAC or Robust regressor on the same. Any improvments? Find out Ransac and Robust do and how are they different from Linear
h) Apply Elastic Net and give me the features selected. (Need the horizontal bar plot)
i) What was the Elastic Net alpha1/alpha2 ratio for which you get the best r2?

In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV,LassoCV,Ridge,Lasso
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import r2_score
from sklearn.linear_model import RANSACRegressor

In [2]:
df = pd.read_csv('Credit.csv') #adding index_col = 0 eliminates the Unnamed column variable but introduces some dimension error idk why
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [3]:
df.drop(["Unnamed: 0"],1,inplace = True)

In [4]:
df.isnull().values.any() #Checking for null values.. no null values

False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
Income       400 non-null float64
Limit        400 non-null int64
Rating       400 non-null int64
Cards        400 non-null int64
Age          400 non-null int64
Education    400 non-null int64
Gender       400 non-null object
Student      400 non-null object
Married      400 non-null object
Ethnicity    400 non-null object
Balance      400 non-null int64
dtypes: float64(1), int64(6), object(4)
memory usage: 34.5+ KB

In [6]:
# df.shape
# plt.figure(figsize = (12,10))
# cor = df.corr()
# sns.heatmap(cor,annot=True,cmap=plt.cm.Reds)
# plt.show()
# cor_target = abs(cor[""])

In [7]:
type(df["Ethnicity"]) #pandas series can store only one type of data

pandas.core.series.Series

####  Encoding the Categorical variables into numerical so that we can run algorithms on it

In [8]:
labe_encoding = LabelEncoder()
df["Student"] = labe_encoding.fit_transform(df["Student"])
df["Married"] = labe_encoding.fit_transform(df["Married"])
df["Gender"] = labe_encoding.fit_transform(df["Gender"])

#### One-Hot Encoding ethnicity column because it has 3 classes

In [9]:
df= pd.get_dummies(df)
df.drop("Ethnicity_Caucasian",1,inplace=True)

In [10]:
X = df.drop(["Balance"],1)
Y = df["Balance"]
X = sm.add_constant(X) #because statsmodel does not include intercept by default so we have to add it manually to get proper results
features = list(X)
# cols_category = ["Gender","Student","Married","Ethnicity_African American","Ethnicity_Asian","const"]
X.head()

,const,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity_African American,Ethnicity_Asian
0,1.0,14.891,3606,283,2,34,11,0,0,1,0,0
1,1.0,106.025,6645,483,3,82,15,1,1,1,0,1
2,1.0,104.593,7075,514,4,71,11,0,0,0,0,1
3,1.0,148.924,9504,681,3,36,11,1,0,0,0,1
4,1.0,55.882,4897,357,2,68,16,0,0,1,0,0

In [11]:
# %reset

In [13]:
X_train, X_test, Y_train, Y_test = tts(X,Y,test_size=0.3,random_state=101)
# X_train[cols_category] = X_train[cols_category].astype('category')
# X_train.info()

In [14]:
scaler = MinMaxScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train),columns=features)
X_test = pd.DataFrame(scaler.fit_transform(X_test),columns=features)
Y_train = Y_train.values.reshape(-1,1)
Y_train = pd.DataFrame(scaler.fit_transform(Y_train))
Y_test = Y_train.values.reshape(-1,1)
Y_test = pd.DataFrame(scaler.fit_transform(Y_test))

In [15]:
X_train.head()

,const,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity_African American,Ethnicity_Asian
0,0.0,0.284916,0.328841,0.331834,0.500,0.200000,0.666667,0.0,0.0,1.0,0.0,1.0
1,0.0,0.088688,0.037831,0.055118,0.375,0.786667,0.466667,0.0,0.0,0.0,0.0,0.0
2,0.0,0.148162,0.225992,0.242970,0.125,0.386667,0.533333,0.0,0.0,0.0,1.0,0.0
3,0.0,0.036675,0.036912,0.024747,0.125,0.680000,0.666667,0.0,0.0,1.0,0.0,1.0
4,0.0,0.586028,0.521060,0.500562,0.125,0.573333,0.666667,0.0,1.0,1.0,1.0,0.0

## 2) Finding features thru backward elim by removing features at every step

In [15]:
model_1 = sm.OLS(Y,X).fit()
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Balance   R-squared:                       0.955
Model:                            OLS   Adj. R-squared:                  0.954
Method:                 Least Squares   F-statistic:                     750.3
Date:                Mon, 09 Sep 2019   Prob (F-statistic):          1.11e-253
Time:                        20:38:05   Log-Likelihood:                -2398.7
No. Observations:                 400   AIC:                             4821.
Df Residuals:                     388   BIC:                             4869.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                       -469.1008     34.709    -13.515      0.000    -537.342    -400.860
Income                        -7.8031      0.234    -33.314      0.000      -8.264      -7.343
Limit                          0.1909      0.033      5.824      0.000       0.126       0.255
Rating                         1.1365      0.491      2.315      0.021       0.171       2.102
Cards                         17.7245      4.341      4.083      0.000       9.190      26.259
Age                           -0.6139      0.294     -2.088      0.037      -1.192      -0.036
Education                     -1.0989      1.598     -0.688      0.492      -4.241       2.043
Gender                       -10.6532      9.914     -1.075      0.283     -30.145       8.839
Student                      425.7474     16.723     25.459      0.000     392.869     458.626
Married                       -8.5339     10.363     -0.824      0.411     -28.908      11.841
Ethnicity_African American   -10.1070     12.210     -0.828      0.408     -34.113      13.899
Ethnicity_Asian                6.6972     12.122      0.552      0.581     -17.137      30.531
==============================================================================
Omnibus:                       34.899   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.766
Skew:                           0.782   Prob(JB):                     8.52e-10
Kurtosis:                       3.241   Cond. No.                     3.73e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.73e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [174]:
features.remove("Ethnicity_Asian")

In [175]:
X = X[features]

In [176]:
model_2 = sm.OLS(Y,X).fit()
model_2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Balance   R-squared:                       0.971
Model:                            OLS   Adj. R-squared:                  0.970
Method:                 Least Squares   F-statistic:                     1306.
Date:                Sun, 01 Sep 2019   Prob (F-statistic):          8.52e-293
Time:                        16:23:13   Log-Likelihood:                -2476.3
No. Observations:                 400   AIC:                             4973.
Df Residuals:                     390   BIC:                             5013.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Income                        -7.3211      0.280    -26.116      0.000      -7.872      -6.770
Limit                          0.3426      0.037      9.194      0.000       0.269       0.416
Rating                        -1.3331      0.551     -2.418      0.016      -2.417      -0.249
Cards                         14.1161      5.241      2.693      0.007       3.812      24.421
Age                           -2.3649      0.320     -7.394      0.000      -2.994      -1.736
Education                    -15.1211      1.473    -10.267      0.000     -18.017     -12.225
Gender                       -30.1369     11.877     -2.537      0.012     -53.487      -6.786
Student                      425.3137     20.214     21.040      0.000     385.571     465.056
Married                      -28.5167     12.392     -2.301      0.022     -52.881      -4.153
Ethnicity_African American   -19.8650     13.961     -1.423      0.156     -47.313       7.583
==============================================================================
Omnibus:                        7.718   Durbin-Watson:                   1.902
Prob(Omnibus):                  0.021   Jarque-Bera (JB):                7.358
Skew:                           0.287   Prob(JB):                       0.0252
Kurtosis:                       2.665   Cond. No.                     1.79e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.79e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [181]:
features.remove("Ethnicity_African American")

ValueError: list.remove(x): x not in list

In [182]:
X = X[features]

In [183]:
model_3 = sm.OLS(Y,X).fit()
model_3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Balance   R-squared:                       0.971
Model:                            OLS   Adj. R-squared:                  0.970
Method:                 Least Squares   F-statistic:                     1447.
Date:                Sun, 01 Sep 2019   Prob (F-statistic):          5.97e-294
Time:                        16:24:58   Log-Likelihood:                -2477.4
No. Observations:                 400   AIC:                             4973.
Df Residuals:                     391   BIC:                             5009.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Income        -7.3226      0.281    -26.087      0.000      -7.874      -6.771
Limit          0.3452      0.037      9.263      0.000       0.272       0.419
Rating        -1.3745      0.551     -2.493      0.013      -2.458      -0.291
Cards         14.2300      5.247      2.712      0.007       3.913      24.547
Age           -2.3994      0.319     -7.513      0.000      -3.027      -1.772
Education    -15.2689      1.471    -10.380      0.000     -18.161     -12.377
Gender       -30.0360     11.892     -2.526      0.012     -53.416      -6.655
Student      425.5455     20.240     21.025      0.000     385.752     465.339
Married      -26.7896     12.349     -2.169      0.031     -51.068      -2.511
==============================================================================
Omnibus:                        7.597   Durbin-Watson:                   1.898
Prob(Omnibus):                  0.022   Jarque-Bera (JB):                7.138
Skew:                           0.277   Prob(JB):                       0.0282
Kurtosis:                       2.653   Cond. No.                     1.79e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.79e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [185]:
features

['Income',
 'Limit',
 'Rating',
 'Cards',
 'Age',
 'Education',
 'Gender',
 'Student',
 'Married']

## 3) Finding features thru automated backward elim function

In [186]:
features_1 = X.columns.values.tolist()
pmax = 1
while len(features_1)>0:
    X_auto = X[features_1]
    X_auto = sm.add_constant(X_auto)
    model_auto = sm.OLS(Y, X_auto).fit()
    p = pd.Series(model_auto.pvalues.values[1:],index = features_1)
    pmax = max(p)
    feature_having_maxp = p.idxmax()
    if(pmax > 0.05):
        features_1.remove(feature_having_maxp)
    else:
        break
selected_features_auto = features_1
print(*selected_features_auto, sep="\n")

Income
Limit
Rating
Cards
Age
Student

In [187]:
selected_features_auto == features

False

## ^^ We arrive at same features as thru brute force

# 4) RANSAC vs ROBUST vs OLS

In [26]:
X_train, X_test, Y_train, Y_test = tts(X,Y,test_size=0.3,random_state=42)
ols_reg = sm.OLS(Y,X[selected_features_auto]).fit()
ols_pred = ols_reg.predict(X_test)
print(r2_score(Y_test,ols_pred))

0.955976110276

In [27]:
model_ransac = RANSACRegressor(random_state=0).fit(X,Y)
ransac_pred = model_ransac.predict(X_test)
print(r2_score(Y_test,ransac_pred))

0.956010008548

In [28]:
model_robust = sm.RLM(Y,X[selected_features_auto]).fit()
robust_pred = model_robust.predict(X_test)
print(r2_score(Y_test,robust_pred))

0.955700140799

## 5) KNN REGRESSOR

In [29]:
knn_pred = KNeighborsRegressor().fit(X_train,Y_train).predict(X_test)
print(r2_score(Y_test,knn_pred))

0.583858059177

## 6) ELASTINET